.place-search {
    width: 80%;
    max-width: 50em;
    height: fit-content;
    position: relative;

    .search-input {
        width: 100%;
    }

    .suggestions {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        z-index: 100;
    }

    .suggestion {
        width: 100%;
    }
}
