/* General stuff */

:root {
    --blue: #197ea6;
    --secondary: black;
    --principal: white;
    --menu: #292929;
}

::selection {
    background-color: var(--blue);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

main {
    min-height: 100vh;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Flexboxes */

.full-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
        text-align: center;
    }
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    * {
        text-align: center;
    }
}

.space-evenly {
    justify-content: space-evenly;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Inputs */

button {
    border: none;
    background-color: var(--secondary);
    color: var(--principal);
    transition: all 0.2s;
    cursor: pointer;
}
button:hover {
    background-color: var(--secondary);
}
.round-button {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 0.5em;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Images */

img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.logo {
    max-height: 4em;
    width: auto;
}